<launch>
	<param name="/cv_camera/device_id" value="0" type="int"/>
  <node name="cv_camera" pkg="cv_camera" type="cv_camera_node"/>
  <node name="canny_edge_my_face_node" pkg="canny_edge_my_face" type="canny_edge.py" output="screen"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find canny_edge_my_face)/rviz/canny_edge.rviz" />
</launch>